<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoreDataNet</title>
    <link rel="stylesheet" href="/styles/shared.css">
    {{#if isProd}}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=49d9e338-98c1-4835-a0e1-d838562fd2a4&lang=ru_RU"
        type="text/javascript">
        </script>
    <script src="/js/map-creator.js" type="text/javascript"></script>
    {{/if}}
    {{! -- Yandex Metrika -- }}
    <script src="/js/yandex-metrika.js" type="text/javascript"></script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68568634" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    {{! -- /Yandex Metrika -- }}
</head>

<body>

    {{> navbar}}

    {{{body}}}

    {{> footer}}

    {{> sidenav}}

    <script src="/js/shared.bundle.js"></script>
</body>

</html>