<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoreDataNet</title>
    <link rel="stylesheet" href="/styles/shared.css">
    {{! -- Yandex Metrika -- }}
    <script src="/js/yandex-metrika.js" type="text/javascript"></script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68568634" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    {{! -- /Yandex Metrika -- }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    {{> navbar}}

    {{{body}}}

    {{> footer}}

    {{> sidenav}}

    <script src="/js/shared.bundle.js"></script>
</body>

</html>