<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoreDataNet</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {{#if isProd}}
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/fa.css">
    {{else}}
    <link rel="stylesheet" href="http://localhost:9000/styles/shared.css">
    <link rel="stylesheet" href="http://localhost:9000/styles/fa.css">
    {{/if}}
    {{! -- Yandex Metrika -- }}
    <script src="/js/yandex-metrika.js" type="text/javascript"></script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68568634" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    {{! -- /Yandex Metrika -- }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>

    {{> navbar}}

    <div>
        {{{body}}}

        <div class="up-button">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </div>
    </div>

    {{> footer}}

    {{> sidenav}}

    {{#if isProd}}
    <script src="/js/shared.bundle.js" async defer></script>
    <script src="/js/fa.bundle.js" async defer></script>
    <script src="/js/bootstrap.bundle.js" async defer></script>
    {{else}}
    <script src="http://localhost:9000/js/shared.bundle.js" async defer></script>
    <script src="http://localhost:9000/js/fa.bundle.js" async defer></script>
    <script src="http://localhost:9000/js/bootstrap.bundle.js" async defer></script>
    {{/if}}
</body>

</html>