<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CoreDataNet</title>
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/info.css">
</head>

<body>

    <div class="wrapper d-flex flex-column">
        {{> navbar}}

        {{{body}}}

        {{> footer}}
    </div>

    {{> sidenav}}

    <script src="/js/navbar.js"></script>
    <script src="/js/shared.bundle.js"></script>
</body>

</html>