<div class="container text-container py-5">
	<div class="row content d-flex justify-content-center">
		<div class="col-12 col-lg-8">
			<h2 class="title">
                <i class="fa fa-address-book" aria-hidden="true"></i> {{data.service.title}}
            </h2>
			{{{data.service.content}}}
		</div>
		<div class="col-12 col-lg-8 p-0 border mt-4"
			style="width: 90vw; height: 60vh; max-width: 100%; max-height: 500px" id="map">
		</div>
	</div>
</div>