<div class="container text-container">
	<div class="row content d-flex justify-content-center">
		<div class="col-12 col-lg-8">
			<h4 class="title">
                <strong>{{data.service.title}}</strong>
            </h4>
			{{{data.service.content}}}
			{{!-- <p>
				Центр обработки данных CoreДataNet расположен в шаговой доступности от Аэропорта
				местных линий, в Кировском административном округе г. Омска по адресу: 644103, улица
				Игоря Москаленко, 137/2.
			</p>
			<p>
				Адрес для почтовой корреспонденции: 644103, улица Игоря Москаленко, 137/1.
			</p>
			<p class="mt-4">
				К нам удобно добираться как общественным транспортом (автобусы № 17, 21;
				маршрутные такси 414, 19, 344, 413, 394), так и на автомобиле.
			</p>
			<hr>
			<div class="d-inline-block mr-4">
				<i class="fa fa-mobile" aria-hidden="true"></i> +7(3812) 405222
			</div>
			<div class="d-inline-block">
				<i class="fa fa-envelope" aria-hidden="true"></i> info@coredatanet.ru
			</div> --}}
		</div>
		<div class="col-12 col-lg-8 p-0 border mt-4"
			style="width: 90vw; height: 60vh; max-width: 100%; max-height: 500px" id="map">
		</div>
	</div>
</div>