<div class="container-info">
	<div class="container py-4">
		<h1 class="display-4 d-none d-sm-block"> Контакты </h1>
		<h1 class="d-block d-sm-none"> Контакты </h1>
	</div>
	<div class="container bg-light p-4 rounded-top text-dark border border-bottom-0">
		<div class="row">
			<div class="col-12 mb-4">
				Центр обработки данных CoreДataNet расположен в шаговой доступности от Аэропорта
				местных линий, в Кировском административном округе г. Омска по адресу: 644103, улица
				Игоря Москаленко, 137/2.
				<p class="mt-4">
					Адрес для почтовой корреспонденции: 644103, улица Игоря Москаленко, 137/1.
				</p>
				<p class="mt-4">
					К нам удобно добираться как общественным транспортом (автобусы № 17, 21;
					маршрутные такси 414, 19, 344, 413, 394), так и на автомобиле.
				</p>
			</div>
			<div class="col-12 col-sm-6">
				<hr>
			</div>
			<div class="col-12">
				<div class="d-inline-block mr-4">
					<i class="fa fa-mobile" aria-hidden="true"></i> +7(3812) 405222
				</div>
				<div class="d-inline-block">
					<i class="fa fa-envelope" aria-hidden="true"></i> info@coredatanet.ru
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row bg-light">
			<div class="col-12 p-0 shadow" style="width: 100vw; height: 100vh; max-width: 100%; max-height: 500px"
				id="map">
			</div>
		</div>
	</div>
</div>