{{!< info}} <div class="jumbotron jumbotron-fluid mb-0">
	<h4 class="text-center"><strong>Галерея</strong></h4>
	<div class="container-fluid">
		{{#if galleries}}
		{{#each galleries}}

		<h1 class="display-4 text-center">{{name}}</h1>
		<p class="lead text-center">{{subtext}}</p>
			<hr>
		<div class="row no-gutters">
			{{#each images}}
			<div class="col-12 col-md-6 gallery">
				<div class="p-0 py-sm-2 px-sm-3">
					<img src="{{cloudinaryUrl quality='25'}}" loading="lazy" class="rounded">
				</div>
			</div>
			{{/each}}
		</div>

		{{/each}}
		{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no image galleries yet.</h3>
		{{/if}}
	</div>
	</div>