<div class="container-info md-n5" style="background-color: rgb(233, 236, 239);">
	<div>
		<div class="container">
			<div class="row head">
				<div class="col">
					<span>Галерея</span>
				</div>
			</div>
		</div>
		{{#if galleries}}
		{{#each galleries}}
		<div class="container bg-light shadow rounded my-3">
			<!-- if galleries -->
			<div class="row gallery-images py-1 pl-1 pr-2 pr-md-3">
				{{!-- {{#if heroImage}}
				<div class="col-sm-4 col-md-4 gallery-image">
					<img src="{{cloudinaryUrl heroImage width='680' height='680'}}" class="img-rounded">
				</div>
				{{/if}} --}}
				<h3 class="p-2 p-sm-3 m-0 rounded shadow-sm" style="background-color: rgb(86, 199, 247);">{{name}}</h1>
				
				<div class="col-12 p-0">
					<div class="row no-gutters">
						{{#each images}}
						<div class="col-12 col-md-6 gallery">
							<div class="p-0 py-sm-2 px-sm-3">
								<img src="{{cloudinaryUrl quality='25'}}" loading="lazy">
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
		{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no image galleries yet.</h3>
		{{/if}}
	</div>
</div>