{{!< default}}
<div class="d-flex justify-content-center">
    <div class="container-fluid position-absolute" id="scroll-container">
      <div id="scroller">
        <div class="row">
          <div class="col-0 col-sm-1"></div>
          <div class="col-2 m-3">
            <div class="row" style="height: 355px;">
              <div class="col">

              </div>
            </div>
            <div class="row expander active d-flex align-items-center" style="height: 300px;">
              <div class="col">C</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">O</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">R</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">E</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">D</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">A</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">T</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">A</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">N</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">E</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 300px;">
              <div class="col">T</div>
            </div>
            <div class="row expander d-flex align-items-center" style="height: 355px">
              <div class="col">

              </div>
            </div>
          </div>
          <div class="col-8 col-md-8">
            <div class="row" style="height: 177.5px;">
              <div class="col">
              </div>
            </div>
            <div class="row p-sm-3 short-description active">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Colocation</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Услуга по размещению серверного оборудования (colocation) адресована организациям всех отраслей
                        экономики – образовательным учерждениям, банкам, операторам связи, госструктурам, промышленным
                        холдингам, коммерческим компаниям, чей бизнес зависит от бесперебойной работы ИТ-инфраструктуры.
                        Инфраструктура дата-центра:
                      </div>
                      <ul>
                        <li>132 свободныe стойки (4 машинных зала)</li>
                        <li>1 000 кв.м. общей площади </li>
                        <li>2,4 МВт общей мощности </li>
                      </ul>
                      <hr>
                      В зависимости от размера вашей ИТ-инфраструктуры, мы предлагаем услуги по размещению серверного
                      оборудования:
                      <ul>
                        <li>Аренда стойко-места</li>
                        <li>Аренда выделенного периметра в машинном зале</li>
                        <li>Аренда сервера</li>
                      </ul>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Outsourcing</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Мы предлагаем возможность делегировать текущее обслуживание, настройку, тестирование и
                        восстановление работоспособности размещенного оборудования специалистам инженерно-технического
                        отдела дата-центра. Услуга позволяет сэкономить время и человеческие ресурсы на обслуживание
                        серверного оборудования. Мы следим за вашим оборудованием 24/7 и оказываем техническую поддержку.
                        <p></p>
                        Круглосуточное техническое обслуживание:
                      </div>
                      <ul>
                        <li>Специалисты техотдела по всем системам ЦОД - в рабочие часы</li>
                        <li>Дежурный инженер - в ночные часы и выходные дни</li>
                        <li>Выполнение дополнительных работ по запросам клиентов</li>
                      </ul>
                      <hr>
                      <div class="p-2">
                        Если вы воспользовались услугой Colocation, то автоматически получаете базовый объем технической
                        поддержки (визуальный осмотр оборудования и выполнение стандартных действий с серверами).
                        <p></p>
                        Кроме того, мы предоставляем расширенный уровень технической поддержки. В него входят работы
                        дежурных инженеров с оборудованием (монтаж/демонтаж, диагностика, установка памяти, апгрейды и
                        проч.) и работы системных администраторов с программным обеспечением (тестирования на исправность,
                        установка и настройка ОС, приложений и прочего сетевого оборудования).
                        <p></p>
                        Также, по желанию заказчика, любые технические работы могут производиться под видеонаблюдением.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Reserved</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        <h5>Автономность.</h5>
                        Копия хранится на сервере для бэкапа, вне действующей инфраструктуры организации - так
                        администратор сможет восстановить рабочую базу независимо от обстоятельств.
                        <p></p>
                        <h5>Автоматизация.</h5>
                        Автоматическое резервное копирование исключает «человеческий фактор». Администратор только задает
                        расписание, настраивает пути копирования, а остальное обрабатывает программа.
                        <p></p>
                        RTO (Recovery Time Objective). Восстановление информации не должно занимать сутки или двое -
                        оптимальный вариант: два-три часа. В противном случае, бизнес несёт убытки.
                        <p></p>
                        <h5>Целостность. </h5>
                        Система должны быть настроена на полный бэкап, а не фрагментарный.
                        <p></p>
                        RPO (Recovery Point Objective). Ежедневное копирование поддерживает актуальное состояние архива.
                        <p></p>
                        <h5>Безопасность. </h5>
                        Доступ к резервному архиву ограничивается для большинства сотрудников компании и хранится в
                        надежном месте.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Energy</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        <div class="p-2">
                          Электричество есть всегда. Для непрерывной работы систем дата-центра CoreDataNet бесперебойное
                          электропитание обеспечено двумя независимыми вводами мощностью 1,2 МВт каждый.
                          <hr>
                          Кроме того, при возможном возникновении форс-мажорных ситуаций планируется использование двух
                          дизельных генераторов, с помощью которых дата-центр продолжитработу в автономном режиме до 24
                          часов. Переход с подстанции на ДГУ происходит за минуту, в это время работу оборудования
                          обеспечивают источники бесперебойного питания.
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Dedicated</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Аренда сервера (dedicated server) - одна из разновидностей хостинга. Выбирая эту услугу, вы
                        получаете в пользование отдельную физическую машину, целый сервер и получаете полный контроль над
                        его конфигурацией. Как правило, на выделенных серверах размещаются крупные проекты с высокой
                        посещаемостью, а также те, которым требуются особенные, уникальные настройки сервера. Данная
                        услуга подойдет компаниям, у которых есть свои технические специалисты - настройка и поддержание
                        работы сервера требует знаний и опыта.
                        <hr>
                        Выделенный сервер - самый защищенный вариант хостинга из всех возможных. Большим плюсом является
                        то, что вы не делите сервер с другими сайтами, которые могут быть уязвимы. У выделенных серверов
                        выше время непрерывной работы и ниже вероятность ошибок ПО. Сервер выдерживает гораздо более
                        высокие нагрузки.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Analysis</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Анализ и хранение данных. Анализ инфраструктуры и бизнеса-процессов заказчика. Аналитика речи и
                        распознавание голоса как дополнительный сервис.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Traffic</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Высокую скорость передачи данных между дата-центром и инфраструктурой
                        Клиента обеспечивают три независимые каналы связи пропускной способностью 10
                        Гбит каждый, один из которых соединяет CoreДataNet с М-IX в г. Москва.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Accounting</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        CoreDataNet - индивидуальный и дифферинцированный подход к бизнесам-задачам клиента на каждом
                        этапе. Персональный аккаунт-менеджер. Сопровождение от момента постановки задачи до последнего
                        реализации проекта.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Network</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        СoreDataNet обеспечивает быструю, безопасную и безотказную связь между объектами бизнеса. Каждый
                        элемент нашей сети – это выверенное решение. Ничего лишнего, только
                        надёжная связь. Наши линии связи отвечают всем необходимым стандартам, нормам и правилам.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Efficiency</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Эффективность CoreDataNet связана с возможностями оптимизации ИТ-инфраструктуры, внедрением
                        методов виртуализации, с использованием современных средств развертывания ИТ-средств и управления
                        ими.
                        <p></p>
                        По мере роста нагрузки на ЦОД возможно добавлять модули систем электропитания, охлаждения,
                        сетевого оборудования, а также вычислительные модули.
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p-sm-3 short-description mt">
              <div class="col-12 d-flex align-items-center">
                <div class="row content">
                  <div class="col-12">
                    <h1 class="font-weight-bold">Technology</h1>
                  </div>
                  <a href="/somepage" class="d-flex flex-wrap">
                    <div class="col-12 col-lg-8">
                      <div class="p-2">
                        Центр обработки данных CoreDataNet отвечает современным требованиям безопасности. Это означает,
                        что в случае непредвиденных технологических сбоев дата-центр продолжит обслуживать все системы без
                        остановки сервиса.
                        Высокий уровень инфраструктуры CoreDataNet подтверждает международный сертификат надежности TIER
                        уровня III. Он подразумевает:
                        <ul>
                          <li>Безотказную работу ЦОД</li>
                          <li>Ремонт без остановки оборудования</li>
                          <li>Мощный резервный канал связи</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12 col-lg-4 d-flex align-items-center p-5 p-md-3">
                      <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/icon.png" class="img-fluid" alt="" loading="lazy">
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row" style="height: 177.5px;">
              <div class="col">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="canvas">
      <canvas id="c"></canvas>
    </div>
  </div>

  <div class="container-fluid _boffset">
    <div class="row">
      <div class="col p-0">
        <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1601818296/bg.png" alt="" loading="lazy">
      </div>
    </div>
  </div>

  <div class="container-fluid _email">
    <div class="row">
      <!--Yandex maps-->
      <div class="col col-12 col-md-6 py-3">
        <div style="background-color: white;" class="w-100 h-100 d-flex justify-content-center align-items-center">
          Яндекс Карта
        </div>
      </div>
      <!---->
      <div class="col col-12 col-md-6 py-3">
        <div class="row h-100">
          <div class="col-md-11 col-lg-10 m-2 m-md-0">
            <form class="h-100 d-flex flex-column">
              <div class="form-group">
                <label for="info1" class="h4 text-light">Напишите нам</label>
                <div class="d-xl-flex my-2" id="info1">
                  <input type="email" class="form-control mr-xl-2 my-2 my-xl-0" aria-describedby="emailHelp"
                    placeholder="Ваше имя" style="height: 60px;">
                  <input type="email" class="form-control ml-xl-2 my-1 my-xl-0" aria-describedby="emailHelp"
                    placeholder="Название компании" style="height: 60px;">
                </div>
              </div>
              <div class="form-group">
                <div class="row no-gutters">
                  <div class="col-10 col-xl-6 pr-1 pr-xl-2">
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="E-email"
                      style="height: 60px;">
                  </div>
                  <div class="col-2 col-xl-6 pl-1 pl-xl-2">
                    <button type="button" class="btn btn btn-outline-light w-100 h-100 text-xl-left"><i
                        class="fa fa-paperclip"></i> <span class="d-none d-xl-inline">Прикрепить файл</span></button>
                  </div>
                </div>
              </div>
              <div class="form-group h-100">
                <textarea class="form-control h-100" id="textarea1" placeholder="Текст сообщения"></textarea>
              </div>
              <div class="form-check mb-2 ml-4">
                <input type="checkbox" class="form-check-input" id="check1">
                <label class="form-check-label text-light" for="check1">Соглашение с <a href="#">Политикой
                    конфиденциальности</a></label>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Отправить сообщение</button>
            </form>
          </div>
          <div class="col-md-1 col-lg-2">
          </div>
        </div>
      </div>
    </div>
  </div>