{{!< info}}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="head">
                <span>Партнерам</span>
            </div>
        </div>
    </div>
    <div class="row content d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <p>
                Партнерство с CoreDataNet — это возможность зарабатывать на развитии
                своего ИТ-бизнеса, используя разные ресурсы, в том числе, привлекая новых
                заказчиков.
            </p>
            <p>
                Партнерство с CoreDataNet гарантирует нашим Партнерам:
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Стабильный доход и удобную систему выплат;
                </li>
                <li class="list-group-item">
                    Конечную цену для клиента определяет Партнер;
                </li>
                <li class="list-group-item">
                    Расширение портфеля продуктов Партнера высоконадежными
                    сервисами без инвестиций в инфраструктуру и персонал;
                </li>
                <li class="list-group-item">
                    Pre-sale поддержку (выявление потребностей, консультирование
                    Клиента, совместные встречи с Клиентом с привлечением наших
                    технических специалистов, разработка нестандартных ИТ-решений);
                    Техническую поддержку (поддержка по сервисам, техническое
                    обучение);
                </li>
                <li class="list-group-item">
                    Широкий выбор маркетинговых материалов (презентации по
                    продуктам и услугам, буклеты, листовки и пр.).
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-9">
            <hr>
        </div>
        <div class="col-12 col-lg-9 d-flex justify-content-center justify-content-md-end align-items-start">
            <a type="button" class="btn btn-outline-primary mb-3 mt-2" href="/">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">Узнать подробнее о Партнерской программе</span>
            </a>
        </div>
    </div>
</div>