{{!< info}}
<div class="container container-info bg-light border-left border-right">
    <div class="head">
        <h6> Партнерам </h6>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Партнерство с CoreDataNet — это возможность зарабатывать на развитии
                своего ИТ-бизнеса, используя разные ресурсы, в том числе, привлекая новых
                заказчиков.
            </p>
            Партнерство с CoreDataNet гарантирует нашим Партнерам:
            <ul>
                <li>
                    Стабильный доход и удобную систему выплат;
                </li>
                <li>
                    Конечную цену для клиента определяет Партнер;
                </li>
                <li>
                    Расширение портфеля продуктов Партнера высоконадежными
                    сервисами без инвестиций в инфраструктуру и персонал;
                </li>
                <li>
                    Pre-sale поддержку (выявление потребностей, консультирование
                    Клиента, совместные встречи с Клиентом с привлечением наших
                    технических специалистов, разработка нестандартных ИТ-решений);
                    Техническую поддержку (поддержка по сервисам, техническое
                    обучение);
                </li>
                <li>
                    Широкий выбор маркетинговых материалов (презентации по
                    продуктам и услугам, буклеты, листовки и пр.).
                </li>
            </ul>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="col-12 d-flex justify-content-center justify-content-md-end align-items-start">
            <a type="button" class="btn btn-outline-primary my-2" href="/">
                Узнать подробнее о<br class="d-block d-sm-none"> Партнерской программе
            </a>
        </div>
    </div>
</div>