{{!< info}}
<div class="container text-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <h4 class="title">
                <strong>{{data.service.title}}</strong>
            </h4>
            {{{data.service.content}}}
        </div>
    </div>
</div>