<div class="cloud-services">
    <div class="jumbotron jumbotron-fluid service-header">
        <div class="container">
            <div class="row description">
                <div class="description-text">
                    <div class="description-text-container">
                        <h1 class="header">
                            <i class="fa fa-cloud" aria-hidden="true"></i> VDS
                        </h1>
                        <p class="lead">
                            Идеально подходит для организации удаленной работы небольшого офиса, для корпоративных
                            сайтов,
                            организации он-лайн магазина.
                        </p>
                    </div>
                </div>
                <div class="description-image">
                    <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1603868658/cmbhtbcmfbwyw5jxq3iw.jpg"
                        alt="VDS">
                </div>
            </div>
            <div class="row feature-cards">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Быстрый
                        </h5>
                        <p class="card-text">серверы на SSD-дисках, старт за 5 минут</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Управляемый
                        </h5>
                        <p class="card-text">панель управления ISPmanager, мониторинг доступности сайта</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Безопасный
                        </h5>
                        <p class="card-text">99.96% Uptime, SLA, анти-DDoS, snapshot backup</p>
                    </div>
                </div>
            </div>
            <div class="row price">
                <h3 class="price-header">Начиная с:</h3>
                <div class="price-label">
                    <div class="price-label-container">
                        <div class="value">
                            <span class="amount">300</span>
                            <span class="currency"><i class="fa fa-rub" aria-hidden="true"></i></span>
                        </div>
                        <hr class="h-divider">
                        <div class="desc-small">
                            <small>в месяц</small>
                        </div>
                    </div>
                </div>
                <button class="rent-server">Заказать сервер</button>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid bg-dark text-white mb-0">
        <div class="container">
            <div class="mb-5 text-center">
                <h2>Выберите свой VDS</h2>
                <p class="lead">работа в облаке, гарантированные ресурсы</p>
            </div>
            <div class="table-responsive text-center">
                <table class="table table-hover table-dark">
                    <thead class="bg-secondary">
                        <tr>
                            <th scope="col" style="vertical-align: middle;">Базовая конфигурация</th>
                            <th scope="col" style="vertical-align: middle;">Тариф <i class="fa fa-rub"
                                    aria-hidden="true"></i></th>
                            <th scope="col" style="vertical-align: middle;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;">
                                step1 Ядер 1, Диск 10 Gb SSD, Память 1 Gb, ipv4 адрес1 шт. ОС: Linux
                            </td>
                            <td style="font-size: 1.25rem; vertical-align: middle;">
                                300
                            </td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-outline-warning">Заказать</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td><button class="btn btn-outline-warning">Заказать</button></td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td><button class="btn btn-outline-warning">Заказать</button></td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td><button class="btn btn-outline-warning">Заказать</button></td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td><button class="btn btn-outline-warning">Заказать</button></td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td><button class="btn btn-outline-warning">Заказать</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0 bg-white">
        <div class="container">
            <div class="text-center">
                <h2 style="font-weight: 300;">
                    <span>Все что необходимо для VDS сервера</span>
                </h2>
                <p class="lead">
                    <span class="badge badge-light text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Защита от DDoS</span>
                    <span class="badge badge-light text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        SSD диски</span>
                    <span class="badge badge-light text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        SLA</span>
                    <span class="badge badge-light text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                        99,96% Uptime</span>
                </p>
            </div>
            <div>
                <ul class="nav nav-pills mb-2" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0 rounded p-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aspernatur impedit mollitia
                        repudiandae quaerat, maxime dicta nulla molestias exercitationem sint, dolor ex nihil sunt
                        perspiciatis, consectetur dolorum eum architecto voluptatibus?
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quisquam reiciendis odio dolor ullam
                        quas maxime laudantium, sunt enim nostrum ipsam impedit praesentium quod eaque aliquam possimus
                        quia cumque quam neque soluta a inventore quae. Illum ullam earum enim corrupti, commodi ad,
                        quis quisquam facilis voluptas ex suscipit libero velit ea, error labore beatae hic consequuntur
                        et cumque. Temporibus dolores quidem error commodi placeat, neque debitis ea nihil aut expedita
                        amet quaerat magnam sit, at veniam deleniti dolorum nulla cumque reprehenderit earum nostrum,
                        minima eveniet. Sint ipsum suscipit porro dolores, sapiente, eos est fuga in sit consectetur
                        laboriosam doloribus dignissimos?
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem harum libero illum aliquam modi
                        ipsa quis eum cum natus! Quibusdam exercitationem accusantium assumenda mollitia ad eum,
                        obcaecati vero eveniet ullam.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="jumbotron jumbotron-fluid mb-0" style="transform: skewY(-4deg);">
            <div class="container text-center" style="transform: skewY(4deg);">
                <h2 style="font-weight: 300;">Используйте виртуальный сервер</h2>
                <p class="lead">так, как нужно именно вам</p>
                <div class="bg-white p-3 rounded shadow-sm">
                    <div class="d-flex justify-content-around align-items-center flex-wrap">
                        <div class="m-2">
                            <a style="width: 5rem; height: 5rem; border-radius: 50%; font-size: 2rem; text-decoration: none"
                                class="bg-danger text-white mx-auto mb-2 d-flex justify-content-center align-items-center"
                                href="/">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </a>
                            <div>1C Бухгалтерия</div>
                        </div>
                        <div class="m-2">
                            <a style="width: 5rem; height: 5rem; border-radius: 50%; font-size: 2rem; text-decoration: none"
                                class="bg-warning text-white mx-auto mb-2 d-flex justify-content-center align-items-center"
                                href="/">
                                <i class="fa fa-server" aria-hidden="true"></i>
                            </a>
                            <div>Apache</div>
                        </div>
                        <div class="m-2">
                            <a style="width: 5rem; height: 5rem; border-radius: 50%; font-size: 2rem; text-decoration: none"
                                class="bg-primary text-white mx-auto mb-2 d-flex justify-content-center align-items-center"
                                href="/">
                                <i class="fa fa-microphone" aria-hidden="true"></i>
                            </a>
                            <div>TeamSpeak</div>
                        </div>
                        <div class="m-2">
                            <a style="width: 5rem; height: 5rem; border-radius: 50%; font-size: 2rem; text-decoration: none"
                                class="bg-warning text-white mx-auto mb-2 d-flex justify-content-center align-items-center"
                                href="/">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                            <div>Asterisk</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>