{{#if isProd}}
    <div class="g-recaptcha" data-sitekey="6LccvAAaAAAAALvsjBi6EbF8jZwUIkWNWcjiHcEy" id="g-recaptcha-response" style="display: contents;"></div>
{{else}}
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" id="g-recaptcha-response" style="display: contents;"></div>
{{/if}}