<div class="firstlook">
    <div class="container-fluid">
        <div class="row first-description">
            <div class="text-block">
                <div class="text-block-title">
                    COREDATANET
                </div>
                <p class="text-block-text mb-0">
                    Общая площадь дата-центра составляет 1000 кв. м. В четырех машинных залах размещены 132 серверные
                    стойки
                    с проектной мощностью потребления электроэнергии (в расчете на одну стойку) от 5 до 11 кВт. Один из
                    залов отдан под размещение суперкомпьютера, ресурсы которого закрывают технические потребности
                    высших и
                    средних профессиональных учебных заведений региона и крупных промышленных предприятий Омска.
                </p>
            </div>
            <div class="image-block">
                <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1602065404/dc/dc5.jpg" alt="Здание ЦОДа"
                    loading="lazy">
            </div>
        </div>
        <div class="row garanties">
            <div class="text-center garanties-title">
                <span class="garanties-title-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> ЦОД CoreDataNet гарантирует:
                </span>
            </div>
            <ul class="garanties-list">
                <li>
                    высокую скорость передачи данных между дата-центром и инфраструктурой
                    клиента благодаря трем независимым каналам связи пропускной способностью 10
                    Гбит каждый, один из которых соединяет CoreДataNet с М-IX в г. Москва</li>
                <li>
                    надежный и оперативный круглосуточный доступ к данным</li>
                <li>
                    техподдержку 24/7</li>
                <li>
                    соответствие стандарту уровня TIER III</li>
                <li>
                    бесперебойное энергоснабжение</li>
            </ul>
        </div>
    </div>
</div>