<footer class="page-footer font-small blue pt-4 border-top border-dark">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-3 border-right border-dark pl-md-5">
				<h5 class="text-uppercase main-text d-inline-block">CoreDataNet</h5>
				<p>Первый в Омске центр обработки данных.</p>
				<a href="/" class="btn btn-primary" type="button"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="/" class="btn btn-danger" type="button"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>

			<hr class="clearfix w-100 d-md-none pb-3">

			<div class="col-md-2 mb-md-0 mb-3 links border-dark border-right">
				<h6 class="text-uppercase">Клиентам</h6>
				<ul class="list-unstyled">
					<li><a href="/clients/rent">Аренда оборудования</a></li>
					<li><a href="/clients/placement">Размещение оборудования</a></li>
					<li><a href="/clients/cservices">Облачные сервисы</a></li>
					<li><a href="/clients/calc">Калькулятор</a></li>
				</ul>
			</div>

			<div class="col-md-2 mb-md-0 mb-3 links border-dark border-right">
				<h6 class="text-uppercase">Партнерам</h6>
				<ul class="list-unstyled">
					<li><a href="/partners">Информация о партнерских программах</a></li>
				</ul>
			</div>

			<div class="col-md-2 mb-md-0 mb-3 links">
				<h6 class="text-uppercase">О компании</h6>
				<ul class="list-unstyled">
					<li><a href="/about">О компании</a></li>
					<li><a href="/carier">Карьера</a></li>
					<li><a href="/blog">Новости</a></li>
					<li><a href="/gallery">Галерея</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-copyright text-center py-3 border-top border-dark">
		© 2020 Copyright:
		<a href="/"> CoreDataNet</a>
	</div>
</footer>