    {{! -- Yandex Metrika -- }}
    <script src="/js/yandex-metrika.js" type="text/javascript"></script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/68568634" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    {{! -- /Yandex Metrika -- }}