<nav class="main-navbar" id="navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse" id="navbarSupportedContent">
		<a class="navbar-brand" href="/">
			<img src="https://res.cloudinary.com/do9pkxeqs/image/upload/w_50,h_50/v1601818296/default/logo_r0.png"
				alt="icon1" class="d-inline-block" loading="lazy">
			<div class="title">
				<div>CoreDataNet</div>
				<hr class="select">
			</div>
			<div class="substrate"></div>
		</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<div class="dropdown">
					<button class="nav-link font-weight-bold" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Клиентам
					</button>
					<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
						<a href="/clients/rent">Аренда оборуднования</a>
						<a href="/clients/placement">Размещение оборудования</a>
						<a href="/clients/cservices">Облачные сервисы</a>
						<a href="/clients/calc">Калькулятор</a>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<button class="nav-link font-weight-bold" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Партнерам
					</button>
					<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
						<a href="/partners">Информация о <br />партнерских программах</a>
					</div>
				</div>
			</li>
			<li class="nav-item mb-2 mb-lg-0">
				<div class="dropdown">
					<button class="nav-link font-weight-bold" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						О нас
					</button>
					<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
						<a href="/about">О компании</a>
						<a href="/carier">Карьера</a>
						<a href="/blog">Новости</a>
						<a href="/gallery">Галерея</a>
						<a href="/contact">Контакты</a>
					</div>
				</div>
			</li>
		</ul>
		<form class="form-inline d-flex my-auto pt-2 pt-lg-0">
			<input class="form-control mr-4 w-100" type="search" placeholder="Search" aria-label="Search">
		</form>
	</div>
	<div class="ml-2 mr-2 mr-lg-5 my-1">
		<form class="form-inline admin-bar">
			{{#if user}}
			<div class="btn-group" role="group" aria-label="Basic example">
				<a href="/keystone" type="button" class="btn btn-outline-primary"><i class="fa fa-user"
						aria-hidden="true"></i></a>
				<a href="/keystone/signout" type="button" class="btn btn-outline-success">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</div>
			{{else}}
			<a href="/keystone/signin" class="btn btn-outline-success">
				<i class="fa fa-sign-in" aria-hidden="true"></i>
			</a>
			{{/if}}
		</form>
		<button class="btn btn-light border d-none" id="sidenav-toggle"><i class="fa fa-bars"></i></button>
	</div>
</nav>