<nav class="main-navbar" id="navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse" id="navbarSupportedContent">
		<a class="navbar-brand" href="/">
			<img src="https://res.cloudinary.com/do9pkxeqs/image/upload/w_50,h_50/v1601818296/default/logo_r0.png"
				alt="icon1" class="d-inline-block" loading="lazy">
			<div class="title">
				<div>CoreDataNet</div>
				<hr class="select">
			</div>
			<div class="substrate"></div>
		</a>
		<ul class="navbar-nav ml-3">
			<li class="nav-item mb-2 mb-lg-0 dropdown">
				<button class="nav-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					О нас
				</button>
				<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
					<a href="/about">О компании</a>
					<a href="/carier">Карьера</a>
					<a href="/blog">Новости</a>
					<a href="/gallery">Галерея</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<button class="nav-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Клиентам
				</button>
				<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
					<a href="/clients/rent">Аренда оборудования</a>
					<a href="/clients/placement">Размещение оборудования</a>
					<a href="/clients/cservices">Облачные решения</a>
					<a href="/clients/calc/">Калькулятор</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<button class="nav-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Партнерам
				</button>
				<div class="dropdown-menu border rounded-bottom" aria-labelledby="dropdownMenuButton">
					<a href="/partners/partners">Информация о <br />партнерских программах</a>
				</div>
			</li>
			<li class="nav-item text-left">
				<a class="nav-link font-weight-bold" href="/contact">Контакты</a>
			</li>
		</ul>
	</div>
	<div class="ml-2 mr-2 mr-lg-3 my-1">
		<form class="form-inline admin-bar">
			{{#if user}}
			<div class="btn-group" role="group" aria-label="Basic example">
				<a href="/keystone" type="button" class="btn btn-light text-primary"><i class="fa fa-user"
						aria-hidden="true"></i></a>
				<a href="/keystone/signout" type="button" class="btn btn-light text-success">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
				</a>
			</div>
			{{else}}
			<a href="/keystone/signin" class="btn btn-light text-success">
				<i class="fa fa-sign-in" aria-hidden="true"></i>
			</a>
			{{/if}}
		</form>
		<button class="btn btn-light border d-none" id="sidenav-toggle"><i class="fa fa-bars"></i></button>
	</div>
</nav>