<div class="service-cards">
    <div class="container-fluid">
        <div class="container">
            <div class="row d-block">
                <h1 class="main-title">ОБЛАЧНЫЕ РЕШЕНИЯ</h1>
                <p class="lead"><mark>Ускорение загрузки сайтов до x5.</mark> Индивидуальные облачные решения</p>
            </div>
            <hr class="title-divider">
            <div class="row cards">
                <div class="card">
                    <div class="card-header">VDS в облаке</div>
                    <div class="card-body">
                        <h5 class="card-title">Среда виртуализации - VMware</h5>
                        <p class="card-text">Гарантированные ресурсы и доступность, профессиональная защита от взлома, вирусов, Ddos-атак.</p>
                        <a href="/services/service" class="btn btn-outline-warning">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>