<div class="service-cards">
    <div class="container-fluid">
        <div class="container">
            <div class="row d-block">
                <h1 class="main-title">ОБЛАЧНЫЕ РЕШЕНИЯ</h1>
                <p class="lead"><mark>Ускорение загрузки сайтов до x5.</mark> Индивидуальные облачные решения</p>
            </div>
            <hr class="title-divider">
            <div class="row cards">
                <div class="card">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/services/service" class="btn btn-outline-warning">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>