<div class="container-fluid sidenav" id="sidenav">
		<div class="row no-gutters flex-column-reverse flex-md-row flex-wrap">
			<div class="col-12 col-md-8 d-flex flex-column justify-content-center" id="service-panel">
				<div class="m-5">
					<a type="button" data-toggle="collapse" href="#col1" aria-expanded="false"
						aria-controls="collapseExample" class="collapse-block">
						Клиентам
					</a>
					<div class="collapse" id="col1">
						<ul class="list">
							<li class="list-element">Аренда оборуднования</li>
							<li class="list-element">Размещение оборудования</li>
							<li class="list-element">Облачные сервисы</li>
						</ul>
					</div>
				</div>
				<div class="m-5">
					<a type="button" data-toggle="collapse" href="#col2" aria-expanded="false"
						aria-controls="collapseExample" class="collapse-block">
						Партнерам
					</a>
					<div class="collapse" id="col2">
						<ul class="list">
							<li class="list-element">Информация о партнерских программах</li>
						</ul>
					</div>
				</div>
				<div class="m-5">
					<a type="button" data-toggle="collapse" href="#col3" aria-expanded="false"
						aria-controls="collapseExample" class="collapse-block">
						О нас
					</a>
					<div class="collapse" id="col3">
						<ul class="list">
							<li class="list-element">О компании</li>
							<li class="list-element">Новости</li>
							<li class="list-element">Галерея</li>
							<li class="list-element">Карьера</li>
							<li class="list-element">Контакты</li>
						</ul>
					</div>
				</div>
			</div>
			<div
				class="col-12 col-md-4 d-flex flex-row-reverse flex-md-column justify-content-around justify-content-md-start toolbar p-4 p-md-0">
				<div class="mt-md-5">
					<a href="#" class="mr-md-4">
						<i class="fa fa-search" aria-hidden="true"></i>
					</a>
					<a href="javascript:void(0)" id="sidenav-close" class="mr-md-4 ml-5 mx-md-0">
						<i class="fa fa-close" aria-hidden="true"></i>
					</a>
				</div>
				<div class="rotate d-none d-md-inline-block">
					<div>

					</div>
				</div>
				<div class="references d-flex flex-row flex-md-column ml-md-4">
					<div>
						<a href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
					<div class="mx-5 mx-md-0">
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sidenav-bg"></div>