<!DOCTYPE HTML>
<HTML>

<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE>KP</TITLE>
    <STYLE TYPE="text/css">
    </STYLE>
</HEAD>

<BODY LANG="ru-RU" LINK="#0000ff" DIR="LTR">
    <h3>
        VR Template
    </h3>
</BODY>

</HTML>