html, body
{
    height: auto;
}

.container-info
{
    font-size: 1.25rem;
    padding: 8rem 4rem;
}

@media(max-width: 720px)
{   
    .container-info
    {
        padding: 2rem 2rem;
    }
}

#navbar
{
    background-color: white !important;
    /* position: fixed !important; */
    /* width: 100% !important; */
    border-bottom: 1px solid rgb(236, 236, 236);
}

.jumbotron
{
    font-size: 1.25rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 1.25rem;
}

@media(max-width: 576px)
{
    .centered
    {
        font-size: 3vw;
    }
}
