html,
body {
    height: 100%;
}

.container-info {
    font-size: 1.25rem;
    padding: 14rem 4rem;
}

.container-info .head h6 {
    display: block;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.container-info .head h5 {
    display: block;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.jumbotron.main {
    font-size: 1.25rem;
    padding-top: 10rem;
    /* background-color: rgb(86, 199, 247);    */
}

.garants {
    background-color: rgb(250, 220, 175);
    font-size: 1.25rem;
}

.features {
    font-size: 1rem;
    /* background-color: rgb(127, 205, 229); */
    background-color: rgb(52, 56, 69);
}

.features .lead {
    color: rgb(236, 236, 236);
    font-size: 2rem;
}

.features .text-block {
    color: rgb(184, 184, 184);
    background-color: rgb(70, 74, 86);
}

.features .text-block.energy {
    border-bottom: 5px solid rgb(86, 199, 247);
}

.features .text-block.energy h1 {
    color: rgb(86, 199, 247);
}

.features .text-block.energy h4 {
    color: rgb(86, 199, 247);
}

.features .text-block.climate {
    border-bottom: 5px solid rgb(182, 250, 198);
}

.features .text-block.climate h1 {
    color: rgb(182, 250, 198);
}

.features .text-block.climate h4 {
    color: rgb(182, 250, 198);
}

.features .text-block.firefighting {
    border-bottom: 5px solid rgb(255, 200, 194);
}

.features .text-block.firefighting h1 {
    color: rgb(255, 200, 194);
}

.features .text-block.firefighting h4 {
    color: rgb(255, 200, 194);
}

.features .text-block.security {
    border-bottom: 5px solid rgb(74, 157, 235);
}

.features .text-block.security h1 {
    color: rgb(74, 157, 235);
}

.features .text-block.security h4 {
    color: rgb(74, 157, 235);
}

/* Centered text */
.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.25rem;
}

.wrapper {
    height: 100%;
}

.filler {
    background-color: white;
}

.gallery {
    overflow: hidden;
}

.gallery img {
    max-height: 600px;
    width: auto;
}

.pl-text-1 {
    font-size: clamp(1rem, 1.25rem, 2vw);
}

.pl-text-2 {
    font-size: clamp(2rem, 3rem, 4vw);
}

.vd {
    border-left: 1px solid rgb(196, 201, 206);
    height: 100%;
}

.categories {
    position: fixed;
    top: 8rem;
    height: calc(100% - 200px);
    overflow-y: auto;
}

@media (max-width: 576px) {
    .centered {
        font-size: 3vw;
    }
}

@media (max-width: 720px) {
    .container-info {
        padding: 0rem 1rem;
        padding-top: 5rem;
        padding-bottom: 1rem;
    }

    .container-info .head h6 {
        font-size: 2rem;
    }

    .container-info .head h5 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .gallery img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .jumbotron.main {
        padding-top: 6rem;
    }
}

/*------Placement------*/
.placement .head {
    padding: 0 4rem;
    padding-top: 14rem;
    padding-bottom: 5rem;
}

@media (max-width: 992px) {
    .placement .head {
        padding-top: 6rem;
    }
}

@media (max-width: 768px) {
    .placement .head {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/*---------------------*/
