html, body
{
    height: 100%;
}

.container-info
{
    font-size: 1.25rem;
    padding: 14rem 4rem;
}

#navbar
{
    background-color: white !important;
    position: fixed !important;
    width: 100% !important;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.jumbotron.main
{
    font-size: 1.25rem;
    padding-top: 10rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 1.25rem;
}

.wrapper
{
    height: 100%;
}

.filler
{
    background-color: white;
}

.gallery
{
    overflow: hidden;
}

.gallery img
{
    max-height: 600px; 
    width: auto;
}

@media(max-width: 576px)
{
    .centered
    {
        font-size: 3vw;
    }
}

@media(max-width: 720px)
{   
    .container-info
    {
        padding: 4rem 2rem;
    }
}

@media(max-width: 768px)
{
    .gallery img
    {
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }
}

@media(max-width: 992px)
{
    .jumbotron.main
    {
        padding-top: 6rem;
    }
}