//lilac
$lilac-light: #d4d6f1;
//blue
$blue-light: rgb(86, 199, 247);
$blue: rgb(74, 157, 235);
//yellow
$yellow: rgb(250, 220, 175);
//dark
$dark: rgb(52, 56, 69);
$dark-medium: rgb(42, 46, 53);
$dark-light: rgb(70, 74, 86);
//green
$green-light: rgb(182, 250, 198);
//red
$red-light: rgb(255, 200, 194);

$font-big-xl: 3rem;
$font-big-lg: 2.5rem;
$font-big-md: 2rem;
$font-big-sm: 1.5rem;

$font-normal-xl: 1.25rem;
$font-normal-lg: 1.16rem;
$font-normal-md: 1.08rem;
$font-normal-sm: 1rem;

$font-small-xl: 1rem;
$font-small-lg: 0.917rem;
$font-small-md: 0.834rem;
$font-small-sm: 0.75rem;

$font-Exo2: Exo2;
$font-Roboto: Roboto;
$font-Magistral: Magistral;