.calc {
    padding: 2rem 1rem;
    background-color: map-get($map: $grays, $key: "200");

    .line-title {
        display: flex;

        .text {
            font-weight: 900;
        }

        .line {
            @extend .ml-2;
            flex-grow: 1;
        }
    }

    .no-num-arrows {
        @include hideArrowsOnNumInput();
    }

    .block {
        position: relative;

        &::after {
            @include bg-animation(map-get($map: $grays, $key: "100"));
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .container {
        @extend .shadow-sm, .rounded, .px-3, .px-sm-5, .pt-3, .pt-sm-5;
        background-color: white;

        .price {
            @extend .px-3, .text-right;
            display: block;
            font-family: $font-Exo2;

            .price-title {
                @extend .font-weight-light;
                color: map-get($map: $theme-colors, $key: "secondary");
            }

            .price-value {
                @extend .font-weight-bold;
            }

            &.total-price {
                @extend .p-2, .rounded, .bg-warning, .shadow;
                display: inline-block;

                .price-title {
                    color: black !important;
                }
            }
        }

        .perMonth {
            @extend .p-2, .text-dark;
            flex: 0 0 auto;
            font-size: 1.125rem;

            .price-title {
                font-weight: 300;
            }

            .price-value {
                font-weight: 700;
                font-family: $font-Exo2;
            }

            flex: 0 0 auto;
        }

        .main-divider {
            @extend .mx-sm-n5, .mx-n3;
            margin: 3rem 0rem;
        }

        .virtual {
            .virtual-title {
                @extend .mb-4;
                font-weight: 300;
                text-align: center;
            }

            &-body {
                .client {
                    @extend .mb-5;
                }

                .server-config {
                    @extend .border, .rounded;

                    .header {
                        @extend .p-1, .border-bottom;
                        background-color: map-get($map: $grays, $key: "200");
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .add {
                            @extend .btn-light, .text-success, .shadow-sm, .m-1;
                        }

                        .delete {
                            @extend .btn-light, .text-danger, .shadow-sm, .m-1;

                            &.actived {
                                .minus {
                                    display: none;
                                }

                                .trash {
                                    display: inline;
                                }
                            }

                            .minus {
                                display: inline;
                            }

                            .trash {
                                display: none;
                            }

                            &-group {
                                display: none;

                                &.actived {
                                    display: inline-block;
                                }

                                .btn-group {
                                    @extend .m-1;
                                }

                                .select-clear {
                                    @extend .btn, .btn-secondary, .shadow;
                                }

                                .select-all {
                                    @extend .btn, .btn-danger, .shadow;
                                }

                                .cancel {
                                    @extend .btn, .btn-light, .shadow-sm, .m-1;
                                }

                                .select-info {
                                    @extend .m-1, .ml-md-3;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                        }

                        .spinner-border {
                            @extend .text-secondary, .m-1;
                            opacity: 0;
                            flex: 0 0 auto;
                            transition: 0.15s;

                            &.actived {
                                opacity: 1;
                            }
                        }
                    }

                    #body-wrapper {
                        height: 30rem;
                        min-height: 30rem;
                        overflow-y: auto;
                        overflow-x: hidden;
                        resize: vertical;
                    }

                    .body {
                        position: relative;

                        &-name {
                            @extend .border-bottom, .border-top, .p-3, .shadow-sm;
                            position: sticky;
                            top: 0;
                            z-index: 1;
                            background-color: white;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: space-between;
                            gap: 1rem;

                            .active-panel {
                                flex: 0 0 auto;
                                display: flex;
                                align-items: center;

                                & > * {
                                    flex: 0 0 auto;
                                }

                                .delete-checkbox {
                                    @extend .custom-control, .custom-checkbox, .mr-2;
                                    display: none;
                                }
                            }

                            .collapse {
                                flex: 1 0 auto;
                                transition: 0.35s;

                                & > * {
                                    margin: 0.5rem;
                                    transition: 0.35s;
                                }
                            }

                            .server-name {
                                flex: 0 0 auto;
                            }
                        }

                        .body-config-wrapper {
                            padding: 5rem 3rem;

                            @media (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
                                padding: 5rem 1rem;
                            }
                        }

                        &-config {
                            &-range {
                                @extend .d-flex, .flex-column, .justify-content-end;
                            }

                            &-input {
                                display: flex;
                                align-items: flex-end;
                            }
                        }
                    }

                    .footer {
                        @extend .p-1, .border-top;
                        background-color: map-get($map: $grays, $key: "200");
                        display: flex;
                        justify-content: space-between;
                        flex-flow: row wrap;

                        .gen-kp,
                        .gen-vr {
                            @extend .btn, .btn-light, .m-1;
                            box-shadow: $button-shadow-sm;
                        }
                    }
                }
            }
        }

        .physic {
            .price {
                @extend .mb-3;
            }

            .physic-title {
                @extend .font-weight-light, .text-center, .mb-3;
            }

            .save {
                @extend .btn, .btn-outline-primary, .shadow, .m-1, .m-sm-0;
            }

            .gen-kp,
            .gen-vr {
                @extend .btn, .btn-light, .m-1;
                box-shadow: $button-shadow-sm;
            }

            .config-progress {
                @extend .text-secondary, .spinner-border;
                opacity: 0;
                transition: 0.15s;

                &.actived {
                    opacity: 1;
                }
            }
        }

        #calc-progress {
            @extend .mt-3, .mt-sm-5, .mx-n3, .mx-sm-n5;
            position: sticky;
            bottom: 0;
            visibility: hidden;
            z-index: 2;

            &.actived {
                @include float(0.5s);
            }
        }
    }
}

.snackbar {
    @extend .rounded, .shadow;
    visibility: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100% - 8rem);

    &.actived {
        @include float-snackbar(2rem, 0.5s);
    }

    &-light {
        @extend .text-dark;
        background: white;

        .menu {
            background: map-get($map: $grays, $key: "200");

            .close {
                @extend .btn-light, .text-muted;
            }
        }
    }

    &-dark {
        @extend .bg-dark, .text-light;
    }

    &-sm {
        max-width: 35.2rem;
        font-size: 0.875rem;
    }

    &-md {
        max-width: 40rem;
        font-size: 1rem;
    }

    &-lg {
        max-width: 45.44rem;
        font-size: 1.125rem;
    }

    .menu {
        @extend .p-2;

        .title {
            flex: 0 0 auto;
            font-size: 1.5rem;
            font-weight: 400;
            font-family: $font-Inter;
        }

        .close {
            @extend .btn, .shadow-sm;
        }
    }

    .body {
        @extend .p-sm-4, .p-3;

        .btn-shadow {
            box-shadow: $button-shadow-sm;
        }

        .info-text {
            font-size: 0.875rem;

            .email {
                font-weight: 500;
                font-family: $font-Exo2;
                background-color: map-get($map: $grays, $key: "300");
                border-radius: 2rem;
                display: inline-block;
                padding: 0rem 0.5rem;
                color: map-get($map: $grays, $key: "700");
            }
        }

        .button-group {
            margin-top: 1.5rem;
        }
    }

    .manage-menu {
        @extend .d-flex, .flex-wrap;
        gap: 0.75rem;

        .submit {
            @extend .btn, .btn-primary, .f-1-1-auto;

            .spinner-border {
                display: none;

                &.actived {
                    display: inline-block;
                }
            }
            
            .error-title {
                display: none
            }

            &.error {

                @extend .btn-danger;

                .title {
                    display: none;
                }

                .error-title {
                    display: inline;
                }
            }
        }

        .reload {
            @extend .btn, .btn-light, .text-primary, .f-0-0-auto;
        }

        .close {
            @extend .btn, .btn-light, .text-danger, .f-0-0-auto;
        }
    }

    @media (min-width: map-get($map: $grid-breakpoints, $key: sm)) {
        &-content {
            width: auto;
        }
    }
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sb-fs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-fe-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vl-middle {
    & > * {
        vertical-align: middle;
    }
}

.f-1-1-auto {
    flex: 1 1 auto;
}

.f-0-0-auto {
    flex: 0 0 auto;
}
