.firstlook {
    @extend .jumbotron, .jumbotron-fluid, .mb-0, .bg-white, .shadow;
    position: relative;
    z-index: 1;
    background: $main-gradient-light-inv;

    .first-description {
        @include wrap-center(map-get($map: $spacers, $key: 3));
        align-items: flex-end;
        margin-bottom: map-get($map: $spacers, $key: 5);

        .text-block {
            @extend .mx-3, .my-3;
            max-width: 30rem;
            flex: 1 1 auto;

            &-title {
                font-size: 3.5rem;
                font-weight: 900;
                font-family: $font-Exo2;

                @media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
                    font-size: 2.5rem;
                }
            }

            &-text {
                @extend .lead, .p-4, .shadow-sm, .rounded, .bg-white;
            }
        }

        .image-block {
            @extend .mx-3, .my-3;
            max-width: 50rem;
            flex: 0 1 100%;

            img {
                @extend .img-fluid, .rounded, .shadow-lg;
            }
        }
    }

    .garanties {
        display: block;
        margin-top: map-get($map: $spacers, $key: 5);
        padding: map-get($map: $spacers, $key: 3);

        &-title {
            font-family: $font-Exo2;
            font-size: 2rem;

            &-content {
                display: block;
                font-weight: 600;

                & > .fa-check-circle {
                    color: map-get($map: $theme-colors, $key: "success");

                    @media(min-width: map-get($map: $grid-breakpoints, $key: sm)) {
                        font-size: 2rem;
                    }
                }
            }
        }

        &-list {
            @extend .list-group, .list-group-flush, .px-3, .pb-4, .shadow-sm, .rounded, .mx-auto;
            background: white;
            max-width: 50rem;
            margin-top: 1.5rem;
            padding-top: 1.4rem;
            font-size: 1.125rem;
            font-weight: 300;

            li {
                @extend .list-group-item;
            }
        }
    }
}
