//lilac
$lilac-light: #d4d6f1;
//blue
$blue-light: rgb(86, 199, 247);
$blue: rgb(74, 157, 235);
//yellow
$yellow: rgb(250, 220, 175);
//dark
$dark: rgb(52, 56, 69);
$dark-light: rgb(70, 74, 86);
//green
$green-light: rgb(182, 250, 198);
//red
$red-light: rgb(255, 200, 194);

$font-big-xl: 3rem;
$font-big-lg: 2.5rem;
$font-big-md: 2rem;
$font-big-sm: 1.5rem;

$font-normal-xl: 1.25rem;
$font-normal-lg: 1.16rem;
$font-normal-md: 1.08rem;
$font-normal-sm: 1rem;

$font-small-xl: 1rem;
$font-small-lg: 0.917rem;
$font-small-md: 0.834rem;
$font-small-sm: 0.75rem;

$font-Exo2: Exo2;
$font-Roboto: Roboto;
$font-Magistral: Magistral;

html,
body {
    font-size: 16px;
    margin: 0;
    font-family: $font-Roboto;
    background-color: rgb(255, 255, 255);
    transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s;
    -o-transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
}

#navbar {
    font-family: $font-Magistral;
    transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s;
    -o-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    z-index: 99;

    .dd-old {
        display: none;
    }

    & .navbar-brand {
        transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        -webkit-transition: 0.2s;

        &:hover {
            background-color: rgb(200, 230, 247);
        }
    }
}

.container-fluid {
    max-width: 1920px;
}

._header .col {
    height: 176px;
}
._header > * {
    font-size: 1.25rem;
}

._email {
    background-color: rgb(52, 56, 68);
}

._email .map {
    height: 559px;
}

._footer .col {
    background-color: rgb(42, 46, 53);
    height: 76px;
}

.blue {
    background-color: rgb(28, 32, 36);
    color: rgb(161, 200, 230);
}
.blue a:link {
    color: white;
}

.dropdown-menu {
    border-radius: 0%;
    border: none;
    padding: 0 0;
    margin-top: 0;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    color: black;
    text-align: center;
}

.dropdown-menu a:hover {
    background-color: rgba(86, 199, 247, 0.23);
    font-weight: bold;
}

.nav-link:active {
    border: none;
}

.dropdown button {
    border: none;
    background-color: transparent;
}

.dropdown button:focus {
    outline: none;
}

.service {
    text-decoration: none;

    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.service .capital {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    text-align: center;
    font-size: 3rem;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.service .service-name {
    min-width: 300px;
    max-width: 300px;
    height: 110px;
    display: block;
    opacity: 0;
}

.service .service-name p {
    font-size: 3rem;
    margin-bottom: 0;
}

.service .service-image {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    display: none;
    text-align: center;
}

.empty-service {
    height: 100px;
}

.empty-service-end {
    height: 300px;
}

.bgd {
    margin-bottom: 100px;
}

._boffset li {
    padding: 0.5rem;
}

._boffset .row {
    height: 715px;
    margin-top: -300px;
    overflow-x: hidden;
}

.company {
    background-color: rgb(206, 241, 203);
}

#scroll-container::-webkit-scrollbar {
    display: none;
}

#scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    max-height: 990px;
    width: 100%;
    height: 990px;
    padding: 0 0;
    margin-top: -127px;
    -ms-overflow-style: none;
}

#scroller .expander {
    font-family: Exo2;
}

#scroller .expander.active .col {
    font-size: calc(2rem + 10vw);
}

#scroller .expander .col {
    font-size: 2rem;
    text-align: center;

    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.mt {
    margin-top: -300px;
}

.short-description {
    height: 600px;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.25rem;

    padding: 1rem 0;

    scrollbar-width: none;

    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;

    &.active {
        visibility: visible;
        opacity: 1;

        .content {
            margin-top: 0px;
        }
    }

    a {
        font-size: 1rem;

        & .text-block {
            background-color: rgba(255, 255, 255, 0.623);
        }
    }

    .content {
        margin-top: 1000px;
    
        transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-Exo2;
}

.short-description::-webkit-scrollbar {
    display: none;
}

.short-description a {
    text-decoration: none;
    color: black;
}

#canvas {
    overflow-x: hidden;
    width: 1900px;
}

.filler {
    background-color: rgb(52, 56, 68);
    flex: 1 0 none;
}

.old-dropdown ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.old-dropdown:hover .dropdown-menu {
    display: block;
}

.container {
    
    padding-bottom: 1rem;

    .head {
        display: block;
        font-size: $font-big-xl;
        font-family: $font-Exo2;
        font-weight: $font-weight-light;
        padding: 1rem 0rem;
        text-align: center;
    }

    .content {
        font-size: $font-normal-xl;
    }
}

.garants {
    background-color: rgb(250, 220, 175);
    font-size: 1.25rem;
}

.features {
    font-size: 1rem;
    /* background-color: rgb(127, 205, 229); */
    background-color: $dark;

    .lead {
        color: rgb(236, 236, 236);
        font-size: 2rem;
    }

    .text-block {
        color: rgb(184, 184, 184);
        background-color: $dark-light;

        &.energy {
            border-bottom: 5px solid $blue-light;

            h1,
            h4 {
                color: $blue-light;
            }
        }

        &.climate {
            border-bottom: 5px solid $green-light;

            h1,
            h4 {
                color: $green-light;
            }
        }

        &.firefighting {
            border-bottom: 5px solid $red-light;

            h1,
            h4 {
                color: $red-light;
            }
        }

        &.security {
            border-bottom: 5px solid $blue;

            h1,
            h4 {
                color: $blue;
            }
        }
    }
}

/* Centered text */
.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.25rem;
}

.wrapper {
    height: 100%;
}

.filler {
    background-color: white;
}

.gallery {
    overflow: hidden;
}

.gallery img {
    max-height: 600px;
    width: auto;
}

.pl-text-1 {
    font-size: clamp(0.9rem, 1.25rem, 2vw);
}

.pl-text-2 {
    font-size: clamp(1.5rem, 3rem, 4vw);
}

.vd {
    border-left: 1px solid rgb(196, 201, 206);
    height: 100%;
}

.categories {
    position: fixed;
    top: 8rem;
    height: calc(100% - 200px);
    overflow-y: auto;
}

//-----------------------------------
//----------Media queries------------
//-----------------------------------

@include media-breakpoint-down(lg) {
    #scroller .expander.active .col {
        font-size: 14rem;
    }

    .container {
        .head {
            font-size: $font-big-xl;
        }

        .content {
            font-size: $font-normal-xl;
        }
    }
}

@include media-breakpoint-down(md) {

    #scroll-container {
        margin-top: -56px;
    }

    #canvas {
        margin-top: -56px;
    }

    .container {
        max-width: 100%;

        .head {
            font-size: $font-big-lg;
        }

        .content {
            font-size: $font-normal-lg;
        }
    }
}

@include media-breakpoint-down(sm) {
    .gallery img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }

    .container {
        .head {
            font-size: $font-big-md;
        }

        .content {
            font-size: $font-normal-md;
        }
    }
}

@include media-breakpoint-down(xs) {
    .centered {
        font-size: 3vw;
    }

    .container {

        padding-bottom: 0rem;

        .head {
            font-size: $font-big-sm;
            font-weight: $font-weight-bold;
        }

        .content {
            font-size: $font-normal-sm;
        }
    }

    .short-description {
        font-size: 4vw;
    }

    ._email .map {
        height: 359px;
    }
}

@media (max-width: 600px) {
    .service .capital {
        min-height: 190px;
        height: 190px;
        min-width: 190px;
        max-width: 190px;
        width: 190px;
        margin-top: -10px;
    }

    .service .service-name {
        text-align: center;
    }

    ul {
        padding: 0 20px;
    }
}

@import "./rent.scss";
@import "./placement.scss";
