@import "./variables.scss";
@import "./mixins.scss";

html,
body {
    font-size: 16px;
    margin: 0;
    font-family: $font-Inter;
    @include transition(0.5s linear);

    @media (max-width: map-get($map: $grid-breakpoints, $key: "lg")) {
        font-size: 1rem;
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
        font-size: 0.92rem;
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: "sm")) {
        font-size: 0.84rem;
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: "xs")) {
        font-size: 0.76rem;
    }
}

html, body, * {
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.index-wrapper {
    @extend .d-flex, .justify-content-center;
}

.main-navbar {

    @extend .navbar, .navbar-expand-lg, .navbar-light, .bg-light, .border-bottom, .p-0, .sticky-top;
    font-family: $font-Magistral;
    @include transition(0.2s linear);
    z-index: 99;

    .navbar-toggler {
        @extend .border-light, .btn, .btn-sm, .ml-2, .p-0, .mt-1;
    }

    .dd-old {
        display: none;
    }

    .collapse {
        @extend .navbar-collapse, .flex-column, .flex-md-row, .justify-content-md-around, .align-items-start, .ml-2;

        .navbar-nav {
            @extend .w-50, .my-auto, .d-flex, .justify-content-around, .bg-white, .shadow-sm, .rounded, .text-center;
            font-size: 1.25rem;
        }
    }

    & .navbar-brand {
        @extend .my-2, .px-2, .my-lg-0;
        @include transition(0.2s linear);
        position: relative;

        &:not(:last-child) {
            display: inline-block;
        }

        .title {
            @extend .text-secondary, .d-inline-block, .ml-2;
        }

        .substrate {
            position: absolute;
            height: 10px;
            left: 50%;
            right: 50%;
            bottom: -10px;
            background-color: $blue;
            opacity: 0;
            @include transition(0.33s ease);
        }

        .select {
            margin: 0;
            width: 100%;
            @include transition(0.2s linear);
        }

        &:hover {
            @extend .shadow;

            .substrate {
                left: 0;
                right: 0;
                @extend .rounded-bottom;
                opacity: 1;
            }

            .select {
                width: 0%;
            }
        }
    }
}

.container-fluid {
    max-width: 1920px;
}

._email {
    background-color: $dark;

    @media (max-width: map-get($map: $grid-breakpoints, $key: "lg")) {
        .map {
            height: clamp(300px, calc(50vh+150px), 500px);
        }
    }

    .map-wrapper {
        @extend .pb-3;

        & > * {
            @extend .p-3, .px-md-4, .px-xl-5, .border-secondary;

            #map {
                @extend .w-100, .h-100, .d-flex, .justify-content-center, .align-items-center, .bg-light;
            }
        }
    }
}

.page-footer {
    &.blue {
        background-color: $dark-medium;
        color: map-get($map: $theme-colors, $key: "secondary");

        a {
            color: rgb(161, 200, 230);

            &.btn {
                color: white;
            }
        }

        ul {
            padding-right: 0rem;

            li {
                margin-bottom: $offset-xs;
            }
        }

        .main-text {
            color: map-get($map: $grays, $key: "300");
        }

        .links {
            font-size: $font-size-sm;
        }
    }

    .footer-copyright {
        background-color: $dark-0;

        a {
            font-family: $font-Magistral;
        }
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: "sm")) {
        font-size: $font-size-sm;
    }
}

.dropdown-menu {
    border-radius: 0%;
    border: none;
    padding: 0 0;
    margin-top: 0;

    a {
        text-decoration: none;
        display: block;
        padding: 0.5rem;
        color: black;
        text-align: center;

        &:hover {
            background-color: rgba(86, 199, 247, 0.23);
            font-weight: bold;
        }
    }
}

.nav-link:active {
    border: none;
}

.dropdown button {
    border: none;
    background-color: transparent;
}

.dropdown button:focus {
    outline: none;
}

.service {
    text-decoration: none;

    @include transition(0.5s linear);
}

.service .capital {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    text-align: center;
    font-size: 3rem;
    @include transition(0.5s ease);
}

.service .service-name {
    min-width: 300px;
    max-width: 300px;
    height: 110px;
    display: block;
    opacity: 0;
}

.service .service-name p {
    font-size: 3rem;
    margin-bottom: 0;
}

.service .service-image {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    display: none;
    text-align: center;
}

.empty-service {
    height: 100px;

    &-end {
        height: 300px;
    }
}

.bgd {
    margin-bottom: 100px;
}

._boffset li {
    padding: 0.5rem;
}

._boffset .row {
    height: 715px;
    margin-top: -300px;
    overflow-x: hidden;
}

.company {
    background-color: rgb(206, 241, 203);
}

.scroll-container {
    @extend .container-fluid, .position-absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 990px;
    width: 100%;
    height: 990px;
    padding: 0 0;
    margin-top: -127px;
    @include scrollbar-none;
}

.scroller {
    .letters {
        .expander {
            @extend .d-flex, .align-items-center;
            height: 300px;
            font-family: Exo2;

            &.end {
                height: 355px;
            }

            &.active .col {
                font-size: calc(2rem + 10vw);
            }

            .col {
                font-size: 2rem;
                text-align: center;

                @include transition(0.5s ease);
            }
        }

        &::before {
            content: "";
            display: block;
            height: 355px;
        }
    }

    .services {
        &::before,
        &::after {
            content: "";
            display: block;
            height: 177.5px;
        }

        .short-description {
            @extend .p-sm-3;

            height: 600px;
            visibility: hidden;
            opacity: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            font-size: 1.25rem;

            padding: 1rem 0;

            @include transition(0.5s ease);
            @include scrollbar-none;

            &.active {
                visibility: visible;
                opacity: 1;

                .content {
                    margin-top: 0px;
                }
            }

            a {
                @extend .d-flex, .flex-wrap, .w-100, .py-2;

                font-size: 1rem;
                text-decoration: none;
                color: black;

                & .text-block {
                    background-color: rgba(255, 255, 255, 0.623);
                    @include transition(0.5s ease);
                    @extend .rounded, .shadow-sm, .p-3;
                }

                &:hover .text-block {
                    background-color: rgba($blue-light, 0.623);
                }
            }

            .wrapper {
                @extend .d-flex, .align-items-center, .h-100;
            }

            .content {
                margin-top: 1000px;

                @extend .w-100, .h-100;
                @include transition(0.5s ease);

                .title {
                    @extend .align-self-end;

                    & > * {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.mt {
    margin-top: -300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-Exo2;
}

#canvas {
    overflow-x: hidden;
    width: 1900px;
}

.filler {
    background-color: rgb(52, 56, 68);
    flex: 1 0 none;
}

.old-dropdown ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.old-dropdown:hover .dropdown-menu {
    display: block;
}

.garants {
    background-color: rgb(250, 220, 175);
    font-size: 1.25rem;
}

.features {
    font-size: 1rem;
    /* background-color: rgb(127, 205, 229); */
    background-color: $dark;

    .lead {
        color: rgb(236, 236, 236);
        font-size: 2rem;
    }

    .text-block {
        color: rgb(184, 184, 184);
        background-color: $dark-light;

        &.energy {
            border-bottom: 5px solid $blue-light;

            h1,
            h4 {
                color: $blue-light;
            }
        }

        &.climate {
            border-bottom: 5px solid $green-light;

            h1,
            h4 {
                color: $green-light;
            }
        }

        &.firefighting {
            border-bottom: 5px solid $red-light;

            h1,
            h4 {
                color: $red-light;
            }
        }

        &.security {
            border-bottom: 5px solid $blue;

            h1,
            h4 {
                color: $blue;
            }
        }
    }
}

/* Centered text */
.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.25rem;
}

.wrapper {
    height: 100%;
}

.filler {
    background-color: white;
}

.gallery {
    overflow: hidden;
}

.gallery img {
    max-height: 600px;
    width: auto;
}

.pl-text-1 {
    font-size: clamp(0.9rem, 1.25rem, 2vw);
}

.pl-text-2 {
    font-size: clamp(1.5rem, 3rem, 4vw);
}

.vd {
    border-left: 1px solid rgb(196, 201, 206);
    height: 100%;
}

.categories {
    position: fixed;
    top: 8rem;
    height: calc(100% - 200px);
    overflow-y: auto;
}

.admin-bar {
    a {
        @media (max-width: map-get($map: $grid-breakpoints, $key: "lg")) {
            border: none;
        }
    }
}

.enquiry-panel {
    @extend .bg-white, .rounded, .px-3;

    form {
        display: flex;
        @extend .flex-column, .justify-content-between, .pb-3;

        .header {
            @extend .text-dark,
                .mt-2,
                .mb-3,
                .font-weight-bold,
                .d-flex,
                .justify-content-between;

            .title {
                font-weight: bold;
            }
        }
    }

    #success-enquiry {
        display: none;
        @include transition(0.5s ease);

        .success-enquiry-content {
            @extend .text-dark, .d-flex, .justify-content-around, .p-5, .rounded;

            h4 {
                @extend .text-center, .m-0;
            }
        }
    }

    #enquiry-errors {
        display: none;
        @include transition(0.5s ease);

        .enquiry-errors-content {
            @extend .text-danger, .text-center;
        }

        p {
            margin: 0;
            @extend .mb-3;
        }
    }

    #enquiry-indicator {
        display: none;
    }
}

//-----------------------------------
//----------Media queries------------
//-----------------------------------

@include media-breakpoint-down(lg) {
    #scroller .expander.active .col {
        font-size: 14rem;
    }
}

@include media-breakpoint-down(md) {
    #scroll-container {
        margin-top: -56px;
    }

    #canvas {
        margin-top: -56px;
    }
}

@include media-breakpoint-down(sm) {
    .gallery img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
    }
}

@include media-breakpoint-down(xs) {
    .centered {
        font-size: 3vw;
    }

    .short-description {
        font-size: 4vw;
    }
}

@media (max-width: 600px) {
    .service .capital {
        min-height: 190px;
        height: 190px;
        min-width: 190px;
        max-width: 190px;
        width: 190px;
        margin-top: -10px;
    }

    .service .service-name {
        text-align: center;
    }

    ul {
        padding: 0 20px;
    }
}

//-----------------------------------
//----------Media queries------------
//-----------------------------------

@import "./rent.scss";
@import "./placement.scss";
@import "./sidenav.scss";
@import "./wysiwyg.scss"
