.services-info {
    .head {
        &.wrapper {
            @extend .flex-c-c;
            height: 30rem;
            background: $main-gradient-light;
            padding: 0rem 2rem 10rem 2rem;

            &.inv {
                background: $main-gradient-light-inv;
            }
        }

        .content {
            text-align: center;
            font-family: Inter;
            font-weight: 700;
        }
    }

    .main {
        &-wrapper {
            @extend .flex-c-c, .border-top;
        }

        &-content {
            @extend .shadow, .rounded-top;
            flex: 1 1 100%;
            max-width: 50rem;
            padding: 4rem;
            background: $white;
            margin-top: -15rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            font-weight: 300;

            strong {
                font-weight: 900;
                color: map-get($map: $grays, $key: "700");
            }

            hr {
                border: none;
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            ul {
                @extend .list-group, .list-group-flush, .rounded-right;
                border-left: 0.5rem solid $wysiwyg-list-main-border-light-primary !important;

                li {
                    @extend .list-group-item;
                    border-color: $wysiwyg-list-border-light-primary !important;
                    background: $wysiwyg-list-bg-light-primary !important;
                }
            }

            p {
                margin-bottom: 1rem;

                img {
                    @extend .img-fluid;
                    margin-bottom: 2rem;
                    margin-top: 2rem;
                }
            }

            blockquote {
                @extend .blockquote;
            }

            a:after {
                content: " \f0c1";
                font: normal normal normal 14px/1 FontAwesome;
            }

            &-service-card {
                box-shadow: none !important;
                padding: 1rem;
                max-width: 100%;
                margin-top: 0rem;
                background: none;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0.5em;
                padding-bottom: 0.25em;
                border-bottom: 1px solid map-get($map: $grays, $key: "200");
                font-family: $font-Inter;
                font-weight: 300;
            }
        }
    }

    @media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
        .main {
            &-content {
                padding: 2rem;

                &-service-card {
                    padding: 0.5rem;
                }
            }
        }
    }
}
