{{!< info}}
<div class="container container-info">
    <div class="row my-4">
        <div class="col">
            <h1 class="display-4 d-none d-sm-block"> Облачные сервисы </h1>
            <h1 class="d-block d-sm-none"> Облачные сервисы </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Дата–центр CoreДataNet  предлагает сервис по аренде вычислительных мощностей нашей облачной платформы для создания вашей собственной инфраструктуры в «облаке». Вы получаете полный доступ к изолированной, автономной инфраструктуре и все возможности для управления ею. 
            </p>
            <ul class="list-unstyled">
                <li> <i class="fa fa-check" aria-hidden="true"></i> Виртуальный сервер VDC/VPS </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Облачное хранилище </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Резервное копирование </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Хостинг  </li>
                <li> <i class="fa fa-check" aria-hidden="true"></i> Телекоммуникационные сервисы (аренда оптических волокон, доступ в интернет  и т.д.) </li>
            </ul>
        </div>
    </div>
</div>