{{!< info}}
<div class="container container-info border-right border-left bg-light">
    <div class="row my-4">
        <div class="col">
            <h1 class="display-4 d-none d-sm-block"> Облачные сервисы </h1>
            <h1 class="d-block d-sm-none"> Облачные сервисы </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <strong>IaaS</strong>
            </h2>
            <p>
                Вычислительные мощности для запуска своих решений и
                развертывания IT-инфраструктуры компании. Заказывая IaaS у нас, Вы
                получаете:
            </p>
            <ul>
                <li>
                    Виртуальные серверы (VPS/VDS), на которые можно
                    устанавливать различные программы. Мы предлагаем серверы сразу с
                    операционными системами, чтобы на них можно было быстрее развернуть
                    нужные приложения.
                </li>
                <li>
                    Сетевые настройки, которые обеспечивают связь виртуальных
                    серверов друг с другом, внешними серверами, принадлежащими компании-
                    клиенту, и интернетом. К ним относят:
                    <ul>
                        <li>
                            доступность серверов друг для друга и для внешней сети,
                            маршрутизацию сетевых соединений серверов;
                        </li>
                        <li>
                            балансировщики нагрузки, которые предотвращают перегрузки
                            серверов, распределяя между ними входящий трафик;
                        </li>
                        <li>
                            VPN — технологию шифрования данных, передаваемых
                            компанией между облаком и ее физическим дата-центром;
                        </li>
                        <li>
                            Управление доступом пользователей.
                        </li>
                    </ul>
                </li>
                <li>
                    Облачные хранилища для хранения файлов, данных или бэкапов.
                    От обычных облачных дисков, с которыми имеют дело отдельные
                    пользователи, они отличаются почти неограниченным объемом хранения и
                    быстрой скоростью доступа к данным.
                </li>
                <li>
                    Сервисы резервного копирования и катастрофоустойчивости,
                    которые страхуют вашу инфраструктуру от падений и потери данных при
                    выходе из строя ее отдельных узлов.
                </li>
            </ul>
            <hr class="my-5">
            <h2>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <strong>PaaS</strong>
            </h2>
            <p>
                Позволяет использовать уже готовые и настроенные платформы для
                специализированных задач.
            </p>
            <p>
                Мы предлагаем:
            </p>
            <ul>
                <li>
                    <strong>Базы данных.</strong> В облака можно перенести все или часть баз
                    данных компании. СУБД нужно лишь настроить ее для себя и загрузить
                    данные. За работоспособность и резервное копирование отвечаем мы

                </li>
                <li>
                    <strong>Разработка приложений в контейнерах.</strong> Это современный
                    стандарт разработки приложений. Суть в том, что все компоненты, которые
                    нужны для запуска приложения, упаковывают в отдельные виртуальные
                    контейнеры. Их можно быстро вызывать, запускать приложения и при
                    необходимости добавлять вычислительные мощности для быстрого
                    масштабирования и устойчивости к высоким нагрузкам.

                </li>
                <li>
                    <strong>Аналитика больших данных.</strong> PaaS помогают обрабатывать как
                    исторические большие данные, то есть массивы информации, собранные
                    компанией за какое-то время, так и данные в режиме реального времени.

                    Специальные инструменты уже установлены и настроены в облаке, вам
                    остается только выбрать нужную конфигурацию.

                </li>
                <li>

                    <strong>Машинное обучение.</strong> Такая платформа как сервис позволяет
                    быстро разрабатывать приложения на основе глубокого обучения под нужды
                    компании: системы компьютерного зрения для распознавания лиц, номеров
                    автомобилей и других объектов, системы аудиоаналитики и пр.
                </li>
            </ul>
            <p>
                PaaS-сервисы экономят время на конфигурацию инфраструктуры,
                нужной компании. Вы можете подключить нужный набор сервисов.
            </p>
            <hr class="my-5">
            <h2>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <strong>SaaS</strong>
            </h2>
            <p>
                Предлагаем готовые сервисы для конкретных прикладных функций —
                отправки почты, ведения базы клиентов, создания сайта и многих других:
            </p>
            <ul>
                <li>
                    Сервер 1С-Предприятие - бухгалтерия, зарплата и управление
                    персоналом, управление торговлей, комплексная автоматизация
                </li>
                <li>
                    Сервер 1С-Битрикс - оптимальное решение для размещения
                    сложных проектов на платформе 1С-Битрикс
                </li>
                <li>
                    Веб-сервер - разместите веб-сайт на нашем веб-хостинге или
                    арендуйте свой собственный готовый веб-сервер
                </li>
                <li>
                    Электронная почта - электронные почтовые ящики с
                    расширенной функциональностью или целый почтовый сервер
                </li>
                <li>
                    Сервер Asterisk - облачная АТС позволяет гибко решить любые
                    задачи телефонии с минимальными затратами
                </li>
                <li>
                    Файловый сервер - безопасное хранение файлов с возможностью
                    доступа с любых устройств
                </li>
            </ul>
        </div>
    </div>
</div>