{{!< info}}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="head">
                <span>Облачные сервисы</span>
            </div>
        </div>
    </div>

    <div class="row content d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <h5 class="text-right">
                <span class="badge badge-dark">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    IaaS
                </span>
            </h5>
            <p>
                Вычислительные мощности для запуска своих решений и
                развертывания IT-инфраструктуры компании.
            </p>
            <ul class="list-group with-header">
                <li class="list-group-item list-group-item-primary">
                    Заказывая IaaS у нас, Вы получаете:
                </li>
                <li class="list-group-item">
                    Виртуальные серверы (VPS/VDS), на которые можно
                    устанавливать различные программы.
                </li>
                <li class="list-group-item">
                    Сетевые настройки, которые обеспечивают связь виртуальных
                    серверов друг с другом, внешними серверами, принадлежащими компании-
                    клиенту, и интернетом. К ним относят:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            доступность серверов друг для друга и для внешней сети,
                            маршрутизацию сетевых соединений серверов;
                        </li>
                        <li class="list-group-item">
                            балансировщики нагрузки, которые предотвращают перегрузки
                            серверов, распределяя между ними входящий трафик;
                        </li>
                        <li class="list-group-item">
                            VPN — технологию шифрования данных, передаваемых
                            компанией между облаком и ее физическим дата-центром;
                        </li>
                        <li class="list-group-item">
                            Управление доступом пользователей.
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Облачные хранилища для хранения файлов, данных или бэкапов.
                    От обычных облачных дисков, с которыми имеют дело отдельные
                    пользователи, они отличаются почти неограниченным объемом хранения и
                    быстрой скоростью доступа к данным.
                </li>
                <li class="list-group-item">
                    Сервисы резервного копирования и катастрофоустойчивости,
                    которые страхуют вашу инфраструктуру от падений и потери данных при
                    выходе из строя ее отдельных узлов.
                </li>
            </ul>
            <hr>
            <h5 class="text-right">
                <span class="badge badge-dark">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    PaaS
                </span>
            </h5>
            <p>
                Позволяет использовать уже готовые и настроенные платформы для
                специализированных задач.
            </p>
            <ul class="list-group with-header">
                <li class="list-group-item list-group-item-primary">
                    Мы предлагаем:
                </li>
                <li class="list-group-item">
                    <strong>Базы данных.</strong> В облака можно перенести все или часть баз
                    данных компании. СУБД нужно лишь настроить ее для себя и загрузить
                    данные. За работоспособность и резервное копирование отвечаем мы

                </li>
                <li class="list-group-item">
                    <strong>Аналитика больших данных.</strong> PaaS помогают обрабатывать как
                    исторические большие данные, то есть массивы информации, собранные
                    компанией за какое-то время, так и данные в режиме реального времени.
                </li>
            </ul>
            <hr class="border-0">
            <p>
                PaaS-сервисы экономят время на конфигурацию инфраструктуры,
                нужной компании. Вы можете подключить нужный набор сервисов.
            </p>
            <hr>
            <h5 class="text-right">
                <span class="badge badge-dark">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    SaaS
                </span>
            </h5>
            <p>
                Предлагаем готовые сервисы для конкретных прикладных функций —
                отправки почты, ведения базы клиентов, создания сайта и многих других:
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    Сервер 1С-Предприятие - бухгалтерия, зарплата и управление
                    персоналом, управление торговлей, комплексная автоматизация
                </li>
                <li class="list-group-item">
                    Сервер 1С-Битрикс - оптимальное решение для размещения
                    сложных проектов на платформе 1С-Битрикс
                </li>
                <li class="list-group-item">
                    Веб-сервер - разместите веб-сайт на нашем веб-хостинге или
                    арендуйте свой собственный готовый веб-сервер
                </li>
                <li class="list-group-item">
                    Электронная почта - электронные почтовые ящики с
                    расширенной функциональностью или целый почтовый сервер
                </li>
                <li class="list-group-item">
                    Файловый сервер - безопасное хранение файлов с возможностью
                    доступа с любых устройств
                </li>
            </ul>
        </div>
    </div>
</div>