{{!< info}}
<div class="container container-info">
    <div class="row my-4">
        <div class="col">
            <h1 class="display-4 d-none d-sm-block"> Размещение оборудования </h1>
            <h1 class="d-block d-sm-none"> Размещение оборудования </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Мы предлагаем комплекс услуг по размещению серверного оборудования клиента в шкафах дата-центра. К
                размещению принимаются серверы стоечного исполнения, а также иное телекоммуникационное оборудование.
                Место выделяется исходя из высоты корпуса устройства, выраженное в стоечных юнитах. Для размещенного
                оборудования возможно предоставление дополнительных услуг.
            </p>
        </div>
    </div>
</div>