{{!< info}}
<div class="container px-sm-5 px-3 pb-3 border-right border-left placement bg-light">
    <div class="row head">
        <div class="col-12 w-100 px-0">
            <h4 class="pl-text-2 text-center font-weight-normal px-3">
                Размещение оборудования
            </h4>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-12 col-lg-6">
            <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/q_50/v1601818296/dc/placement1.jpg"
                class="img-fluid rounded img-thumbnail" alt="">
        </div>
        <div class="col-1 d-none d-lg-flex flex-column">
            <div>
                <hr>
            </div>
            <div class="flex-grow-1">

            </div>
            <div>
                <hr>
            </div>
        </div>
        <div class="col-12 col-lg-5 pl-text-1 px-3">
            <div class="shadow rounded bg-light p-2 p-sm-3 h-100">
                Наш ЦОД предлагает своим клиентам наиболее выгодные и
                комфортные условия размещения IT и телекоммуникационного оборудования.
                Высокий уровень безопасности и новейшее техническое оснащение дата-Центра
                отвечает всем возможным запросам и требованиям наших клиентов.
            </div>
        </div>

        <div class="col-10 ml-3 mx-sm-5 mb-n5" style="height: 6rem; background-color: rgb(86, 199, 247);"></div>

        <div class="col-12 col-lg-8 pl-text-1 px-3 rent">
            <div class="shadow rounded bg-light p-1 p-sm-3 h-100">
                <h5 class="header rounded text-center">Плюсы размещения у нас:</h5>
                <ul class="list-unstyled ml-2 ml-sm-3 pr-2">
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <strong>Безопасность</strong> доступа к Вашему оборудованию обеспечивается строгим регламентом и
                        разграничением
                        лиц, имеющих доступ в серверные залы, а также охраной и круглосуточным видеонаблюдением
                    </li>
                    <hr>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <strong>Высоконагруженные стойки</strong> с учетом энергопотребления
                        Вашего оборудования, резервированием электрообеспечения
                        дополнительными каналами связи и персональными требованиями к
                        безопасности
                    </li>
                    <hr>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <strong>Ваша выгода</strong> обеспечена экономией на организации серверной
                        комнаты в офисе, при нашем безусловно высоком качестве услуг.
                        Просто разместите оборудование в стойках дата-центра и платите
                        ежемесячную аренду
                    </li>
                    <hr>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <strong>Быстро</strong>: развитая инфраструктура, размещение сразу
                    </li>
                    <hr>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <strong>Все под контролем</strong>: управление услугами через
                        личный кабинет, мониторинг доступности сервера
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4 mt-auto rounded d-none d-lg-flex justify-content-center align-items-end">
            <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1603045278/default/logoY.png" alt="Lol"
                loading="lazy">
        </div>
    </div>

    <div class="row d-none d-lg-flex justify-content-center">
        <div class="col-10 border-top">
        </div>
    </div>

    <div class="row d-lg-none d-flex justify-content-center">
        <div class="col-5 my-auto">
            <hr>
        </div>
        <div class="col-2">
            <img src="https://res.cloudinary.com/do9pkxeqs/image/upload/v1603045278/default/logoY.png" alt="Lol"
                loading="lazy" class="img-fluid">
        </div>
        <div class="col-5 my-auto">
            <hr>
        </div>
    </div>

    <div class="row my-4 my-sm-5">
        <div class="col-8 p-0 mx-auto bg-light rounded">
            <h4 class="pl-text-2 m-0 p-2 text-center font-weight-normal">
                Варианты размещения:
            </h4>
        </div>
    </div>



    <div class="row d-flex justify-content-center align-items-stretch">
        <div class="col-5 d-none d-lg-inline-block">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                Аренда стоек с подключением к сетям
                            </h5>
                            <p class="card-text">
                            <ul class="list-unstyled ml-3">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Стандартные стойки EIA-310-D 42U или 48U (ширина: 600 или 700 мм,
                                    глубина: 1070 или 1200 мм)
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Система охлаждения стоек – современное климатическое оборудование
                                    по международным стандартам обеспечения технической безопасности
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Обеспечение сопутствующим оборудованием и аксессуарами, коммутация
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Служба технической поддержки 24/7
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Возможность объединить стойки с единую серверную зону и установить
                                    ограждение.
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Отчеты о выполнении SLA
                                </li>
                            </ul>
                            </p>
                            <a href="#" class="btn btn-primary d-none">
                                Go somewhere
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                ЦОД в ЦОДе
                            </h5>
                            <p class="card-text">
                                Выкуп серверного зала на фиксированное количество стоек, с
                                гарантированной мощностью.
                            </p>
                            <a href="#" class="btn btn-primary d-none">
                                Go somewhere
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5 d-none d-lg-inline-block">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                Индивидуальное ограждение
                            </h5>
                            <p class="card-text">
                                Индивидуальное ограждение оборудования – это дополнительная услуга,
                                которая может быть предоставлена нашим клиентам. Данная услуга необходима
                                в том случае, если проект клиента требует повышенного уровня физической
                                безопасности оборудования, но мощности не позволяют взять в аренду
                                серверный зал целиком.
                            </p>
                            <a href="#" class="btn btn-primary d-none">
                                Go somewhere
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                                Аренда серверного зала
                            </h5>
                            <p class="card-text">
                                Гермозона – это машинный зал с IT-оборудованием. Доступ в гермозону
                                ограничен. Зона оборудована системами поддержания микроклимата,
                                противопожарными средствами и системами безопасности. Климатическое
                                оборудование вынесено за пределы гермозоны, что позволяет производить
                                текущее обслуживание и ремонт без доступа в серверный зал. Каждая гермозона
                                может быть адаптирована под нужды арендатора.
                            </p>
                            <a href="#" class="btn btn-primary d-none">
                                Go somewhere
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-3 px-md-5 d-block d-lg-none">
            <ul class="list-group p-0">
                <li class="list-group-item p-2">
                    <h5 class="card-title font-weight-bold">
                        Аренда стоек с подключением к сетям
                    </h5>
                    <p class="card-text">
                    <ul class="list-unstyled ml-3">
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Стандартные стойки EIA-310-D 42U или 48U (ширина: 600 или 700 мм,
                            глубина: 1070 или 1200 мм)
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Многоуровневая система безопасности: доступ к стойке только у
                            арендатора
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Система охлаждения стоек – современное климатическое оборудование
                            по международным стандартам обеспечения технической безопасности
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Обеспечение сопутствующим оборудованием и аксессуарами, коммутация
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Служба технической поддержки 24/7
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Возможность объединить стойки с единую серверную зону и установить
                            ограждение.
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Отчеты о выполнении SLA
                        </li>
                    </ul>
                    </p>
                    <a href="#" class="btn btn-primary d-none">
                        Go somewhere
                    </a>
                </li>
                <li class="list-group-item p-2">
                    <h5 class="card-title font-weight-bold">
                        ЦОД в ЦОДе
                    </h5>
                    <p class="card-text">
                        Выкуп серверного зала на фиксированное количество стоек, с
                        гарантированной мощностью.
                    </p>
                    <a href="#" class="btn btn-primary d-none">
                        Go somewhere
                    </a>
                </li>
                <li class="list-group-item p-2">
                    <h5 class="card-title font-weight-bold">
                        Индивидуальное ограждение
                    </h5>
                    <p class="card-text">
                        Индивидуальное ограждение оборудования – это дополнительная услуга,
                        которая может быть предоставлена нашим клиентам. Данная услуга необходима
                        в том случае, если проект клиента требует повышенного уровня физической
                        безопасности оборудования, но мощности не позволяют взять в аренду
                        серверный зал целиком.
                    </p>
                    <a href="#" class="btn btn-primary d-none">
                        Go somewhere
                    </a>
                </li>
                <li class="list-group-item p-2">
                    <h5 class="card-title font-weight-bold">
                        Аренда серверного зала
                    </h5>
                    <p class="card-text">
                        Гермозона – это машинный зал с IT-оборудованием. Доступ в гермозону
                        ограничен. Зона оборудована системами поддержания микроклимата,
                        противопожарными средствами и системами безопасности. Климатическое
                        оборудование вынесено за пределы гермозоны, что позволяет производить
                        текущее обслуживание и ремонт без доступа в серверный зал. Каждая гермозона
                        может быть адаптирована под нужды арендатора.
                    </p>
                    <a href="#" class="btn btn-primary d-none">
                        Go somewhere
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>