{{!< info}} 
<div class="services-info">
    <div class="head wrapper">
        <h1 class="content">
            {{data.service.title}}
        </h1>
    </div>
    <div class="main main-wrapper">
        <div class="main-content">
            {{{data.service.content}}}
        </div>
    </div>
</div>