{{!< info}}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <div class="head">
                <span>Аренда серверного оборудования</span>
            </div>
        </div>
    </div>
    <div class="row content d-flex justify-content-center">
        <div class="col-12 col-lg-9">
            <p>
                <strong>Выделенные серверы</strong> — отдельные физические машины, на 100%
                предоставленные в распоряжение пользователя. Вам не придется тратить
                деньги на замену, обновление оборудования, мы возьмем на себя заботу о
                оперативной памяти, системах безопасности, прочих
                моментах. На нашем выделенном сервере можно разместить проект с
                максимальной посещаемостью.
            </p>

            <ul class="list-group with-header">
                <li class="list-group-item list-group-item-primary">
                    Решение открывает широкие перспективы перед арендаторами. Прежде
                    всего, оно удобно:
                </li>
                <li class="list-group-item">
                    проектам, которым нужны особые конфигурации сервера —
                    мощности выделяются под одного заказчика, не нужно делить их с другими
                    арендаторами, доступна установка, гибкая настройка любого программного
                    обеспечения;
                </li>
                <li class="list-group-item">
                    проектам, которым нужны особые конфигурации сервера —
                    мощности выделяются под одного заказчика, не нужно делить их с другими
                    арендаторами, доступна установка, гибкая настройка любого программного
                    обеспечения;
                </li>
                <li class="list-group-item">
                    крупным корпоративным порталам с массовой посещаемостью и
                    разнонаправленным функционалом — можно «поручить» задачи нескольким
                    серверам (например, один выделяется под хранение БД, второй под
                    внешнюю и внутреннюю переписку);
                </li>
                <li class="list-group-item">
                    компаниям, сайтам, веб-приложениям, которым нужны
                    увеличенные вычислительные ресурсы, бесперебойно работающие серверы,
                    диски под значительный объем информации;
                </li>
                <li class="list-group-item">
                    нагруженным игровым сайтам, которым нужна повышенная
                    скорость работы, и т.д.
                </li>
            </ul>

            <hr>

            <p>
                <strong>Приобретение серверов</strong> — дорогое и не всегда оправданное
                «удовольствие». Чтобы не платить за избыточные, не всегда необходимые
                «физические» мощности, можно арендовать. При этом вы получите машину
                с эксклюзивными настройками и правами, работающую автономно,
                обслуживающую только ваш аккаунт.
            </p>

            <ul class="list-group with-header">
                <li class="list-group-item list-group-item-primary">
                    Выгоды аренды выделенного сервера:
                </li>
                <li class="list-group-item">
                    расширенный функционал и гибкие настройки — доступны
                    серверы с разными ОС, типами баз данных, числом и классом
                    поддерживаемых программ;
                </li>
                <li class="list-group-item">
                    увеличенная производительность — машины обеспечат скорость
                    работы, загрузки сайтов, ресурсы не придется «делить с соседями»;
                </li>
                <li class="list-group-item">
                    стабильность, бесперебойность работы даже при пиковых
                    нагрузках — выделив не один, а два-три сервера, вы обеспечите полную
                    безопасность БД и защититесь от сбоев;
                </li>
                <li class="list-group-item">
                    защита от несанкционированного доступа, утечки
                    конфиденциальных данных, хакерских и DDoS-атак — размещая БД и
                    мощности на разных выделенных серверах, вы сохраняете
                    неприкосновенность вашей информации и интеллектуальной собственности
                    и не делите платформу с уязвимыми сайтами.
                </li>
            </ul>
            
            <hr>

            <p>
                Арендуя серверы у нас, вы получаете машины с высокоскоростным
                интернет-соединением, круглосуточно подключенные к источникам
                бесперебойного питания. В дата-центрах поддерживается безопасность на
                уровне Tier III, постоянно работают системы пожаротушения, поддержки
                температурного режима, охраны и видеонаблюдения. Техподдержка
                мгновенно разрешит программные или аппаратные трудности.
            </p>
        </div>
    </div>
</div>