{{!< info}}
<div class="container container-info">
    <div class="row my-4">
        <div class="col">
            <h1 class="display-4 d-none d-sm-block"> Аренда серверного оборудования </h1>
            <h1 class="d-block d-sm-none"> Аренда серверного оборудования </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Арендуйте физический сервер для проектов любой сложности в дата-центре CoreDataNet уровня Tier III: мы подключим его к локальной сети и интернету, обеспечим бесперебойное электропитание, микроклимат и сервисное обслуживание. Вы сможете распоряжаться ресурсами выделенного сервера и устанавливать любое программное обеспечение. Возможны дополнительные услуги.
            </p>
        </div>
    </div>
</div>